.bottle-container {
  position: relative;
  width: 200px;
  margin: 20em;
  display: flex;
}
.bottle-body {
  width: 100%;
  height: 350px;
  background-color: #faee64;
  border-radius: 35px;
  position: relative;
  border: solid;
  border-top: outset;
}
.bottle-body:hover {
  width: 100%;
  height: 350px;
  background-color: #dadada;
  border-radius: 35px;
  position: relative;
  border: solid;
  border-top: outset;
  transition: background-color 1000ms linear;
}
.bottle-stem {
  width: 83%;
  height: 130px;
  background-color: #faee64;
  border-radius: 45px;
  position: relative;
  border: solid;
  border-bottom-style: inset;
  left: 14px;
  bottom: 65px;
  z-index: -1;
}
.bottle-stem:hover {
  width: 83%;
  height: 130px;
  background-color: #dadada;
  border-radius: 45px;
  position: relative;
  border: solid;
  border-bottom-style: inset;
  left: 14px;
  bottom: 65px;
  z-index: -1;
  transition: background-color 1000ms linear;
}
.bottle-neck {
  width: 50%;
  height: 57px;
  background-color: #dadada;
  border-radius: 25px;
  position: relative;
  bottom: 55px;
  left: 24%;
  border: solid;
  border-bottom-style: inset;
}
.bottle-cap {
  width: 96%;
  height: 18px;
  background-color: #0f74bf;
  border-radius: 15px;
  position: relative;
  border: solid;
  bottom: 18px;
}
.white-label {
  width: 100%;
  height: 90px;
  background-color: #ffffff;
  position: relative;
  border: solid;
  bottom: 100px;
  border-left: none;
  border-bottom: none;
  border-right: none;
}
.blue-label {
  width: 100%;
  height: 100px;
  background-color: #0f74bf;
  position: relative;
  border: solid;
  bottom: 100px;
  border-left: none;
  border-top: none;
  border-right: none;
}
.c-label {
  width: 50%;
  height: 100px;
  background-color: #fef200;
  position: relative;
  border: solid;
  bottom: 222px;
  left: 46px;
  border-radius: 50%;
}
h1 {
  text-align: center;
}
.wlabel {
  color: #0f74bf;
}
.clabel {
  color: #ffffff;
  -webkit-text-stroke: 1px #0f74bf;
}
